
    .chart-container {
    width: 100%;
    min-width: 400px;   /* 👈 evita anchos ridículos */
    min-height: 400px;
    display: block;
}

.chart-container .axis--x{
    display: none;
}

.chart-container .axis--x path.domain {
  display: none;
}

.chart-container .axis--x .tick line {
  display: none;
}
 